table{
    border-collapse: collapse;
    width: 90%;
    min-width: 90%;
}

table td{
    border: 1px solid #ddd;
    padding: 0.5em;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:hover{
    background-color: #ddd;
}

