.products_container {
    width: 100%;
    margin: 0 auto;
    padding: 3em;
    display: flex;
}

.first_column {
    width: 50%;
    margin-right: 3em;
    padding-right: 1em;
    border-right : 1px solid black;
    min-width: 50%;

}

.second_column{
    width: 50%;
    overflow-x:auto;

}

