.footer {
    background-color: #27005D;
    color: #F3F8FF;
    padding: 1em;
    text-align: center;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type:none;
}

.social_list li {
    margin: 0 0.5em;
}

.social_list li:hover{
    color: #3e443fad;

}

.social_list  svg{
    font-size:  1em;
    cursor:pointer;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: #3e443fad;
}

