.navbar{
    display: flex;
    justify-content: space-between;
    /* background-color: #006BFF; */
    background-color: #27005D;
    padding:1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;

}

.item {
    margin-right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item a {
    color: #F3F8FF;
    text-decoration: none;
    margin-left: 0.5em;
}

.item a:hover , .title a:hover , .item li:hover{
    color: #3e443fad;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title a{
    color: #F3F8FF;
    text-decoration: none;
    margin-left: 1em;
}




